
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    border: 2px solid red;
}

nav{
    border: 2px solid blue;
    height: 10vh;

}
section{
    border: 2px solid rgb(133, 78, 133);
    height: 70vh;
    display: flex;
    text-align: center;
    justify-content: center;

}

.container{
    border: 2px solid orange;
    width: 55%;
}

footer{
    height: 20vh;
}