
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    border: 2px solid red;
    text-align: center;

    height: 100vh;
    /* display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; */
}

nav{
    margin: 3rem 0;
}
.container{
    width: 85%;
    
}
.formwallet{
    border: 2px solid red;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    

}